.form_box {
  margin-top: 00px;
}

.carousel_container {
  position: relative;
}

.carousel_img {
  width: 600px;
  height: 700px;
  object-fit: cover;
}

@media (max-width: 850px) {
  .carousel_img {
    width: 600px;
    height: 500px;
    object-fit: cover;
  }
}
