.dt_card {
  width: 332px;
  height: 400px;
  gap: 32px;
  text-align: left;
  font-family: "Rubik", sans-serif;
}
.dt_card_img {
  width: 100%;
  height: 275px;
  background-position: center;
  background-color: #dde5f8;
  border-radius: 20px;
  object-fit: cover;
}
.dt_card_name {
  margin: 12px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.dt_card_title {
  margin: 6px 0 8px;
  color: #494949;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
}
.dt_card_stars {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.dt_card_reviews {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
